<section class="authPageWrapper pageWrapper">
<h1 class="text-center">Login</h1>
<h3 class="text-center pb-4">Please enter your credentials</h3>
{{#if messages}}
    <h4 class="alert alert-danger">Invalid Login</h4>
{{else}}
    
{{/if}}
<form method="post">
    <fieldset>
        <label class="form-label"for="username">Username: *</label>
        <input class="form-control" name="username" id="username" required />
    </fieldset>
    <fieldset class="mt-4 mb-4">
        <label class="form-label" for="password">Password: *</label>
        <input  class="form-control" name="password" id="password" required type="password" />
    </fieldset> 
    <div class='formButtonWrapper loginButtonWrapper'>
         <button class="button">Login</button>
         <button class="button">Login with Google</button>
    </div>
  
</form>
</section>