<section class="heroSplash">
  <h1>Welcome to Coin Control</h1>
  <h4>Track your income, expenses, and savings goals effortlessly</h4>
  <div class="heroButtonWrapper">
    <a href="/auth/login" class="heroButton button">Log In</a>
    <a href="/auth/register" class="heroButton button">Sign Up</a>
  </div>
</section>
